<?xml version="1.0" encoding="UTF-8"?>
<beans
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
                            http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                            http://www.springframework.org/schema/context
                            http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <context:component-scan base-package="com.ideas2it.controller"/>
    <bean
            class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property value="/WEB-INF/views/" name="prefix"/>
        <property value=".jsp" name="suffix"/>
    </bean>
    <bean id="employeeController" class="com.ideas2it.controller.EmployeeController">
        <constructor-arg>
            <ref bean="employeeService" />
        </constructor-arg>
    </bean>
    <bean class="com.ideas2it.service.impl.EmployeeServiceImpl" id="employeeService">
        <constructor-arg>
            <ref bean="employeeDao"/>
        </constructor-arg>
    </bean>
    <bean class="com.ideas2it.dao.impl.EmployeeDaoImpl" id="employeeDao"/>
</beans>